@model Contacts.Models.ViewModels.ContactVM

@{
    ViewData["Title"] = "Editar contacto";
}

<h1>Editar contacto #@Model.Contact.Id</h1>

<form asp-controller="Contact" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Contact.Id" />
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Contact.Name" class="form-label"></label>
            <input asp-for="Contact.Name" class="form-control" />
            <small class="text-danger">
                <span asp-validation-for="Contact.Name"></span>
            </small>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Contact.Alias" class="form-label"></label>
            <input asp-for="Contact.Alias" class="form-control" />
            <small>
                <span asp-validation-for="Contact.Alias"></span>
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Contact.Phone" class="form-label"></label>
            <input asp-for="Contact.Phone" class="form-control" pattern="[0-9]{3}-[0-9]{9}" class="form-control" placeholder="Format: 123-123456789" />
            <small class="text-danger">
                <span asp-validation-for="Contact.Phone"></span>
            </small>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Contact.Email" class="form-label"></label>
            <input asp-for="Contact.Email" class="form-control" />
            <small class="text-danger">
                <span asp-validation-for="Contact.Email"></span>
            </small>
            @* <i class="bi bi-exclamation-circle"></i> *@
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="mb-1">Grupos</div>
            <div class="form-check mb-3">
                @foreach (var group in Model.GroupCheckList)
                {
                    <input type="checkbox" id="grp-@group.Id" name="CheckedGroups" value="@group.Id" @(group.IsChecked ? "checked" : "") class="form-check-input" />
                    <label for="grp-@group.Id" class="form-check-label">@group.LabelName</label>
                    <br />
                }
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="mb-3">
                <label asp-for="Contact.Notes" class="form-label"></label>
                <textarea asp-for="Contact.Notes" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3">
            <div class="mb-1">Sitios web</div>
            <div id="websites">
                @if (Model.Contact.Websites != null)
                {
                    foreach (var website in Model.Contact.Websites)
                    {
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <input type="url" value="@website.Url" class="form-control" readonly />
                                <input type="hidden" name="InputWebsites" value="@website.Url" />
                            </div>
                            <div class="col-12 col-md-6">
                                <button type="button" class="btn btn-outline-danger" onclick="removeWebsite()">Quitar</button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <input type="url" id="url" class="form-control" />
                </div>
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-outline-primary" id="addwebsitebtn">Añadir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 col-md-3 col-xl-2">
            <input type="submit" class="btn btn-primary w-100" value="Guardar" />
        </div>
        <div class="col-6 col-md-3 col-xl-2">
            <a asp-controller="Contact" asp-action="Index" class="btn btn-secondary w-100">Volver</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_AddContactWebsites" />    
}